.footer-menu {
    position: relative;
    top: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;

    &_item {
        position: relative;
        display: inline-block;
        vertical-align: top;

        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
    }

    &_link {
        color: #fff;
        font-size: 15px;
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
     }
}
