.layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;

    &_header {
        flex: 0 1 auto;
        border: 10px solid blue;
    }

    &_nav {
        flex: 0 1 auto;
        border: 10px solid green;
    }

    &_main {
        flex: 1 1 auto;
        border: 10px solid red;
    }

    &_footer {
        flex: 0 1 auto;
        border: 10px solid green;
    }
}
