.layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;

    &_header {
        flex: 0 1 auto;
    }

    &_nav {
        flex: 0 1 auto;
    }

    &_main {
        flex: 1 1 auto;
    }

    &_footer {
        flex: 0 1 auto;
    }
}
